.home_wrapper{
    .banner_movie_wrapper{
        padding: 260px 0 600px 0;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
        &::after{
            position: absolute;
            content: '';
            width: 100%;
            height: 100%;
            background: linear-gradient(180deg, rgba(22, 21, 29, 0) 0%, rgba(22, 21, 29, 0.8) 48.31%, #16151D 100%);
            top: 0;
            z-index: 1;
        }
        
        .banner_slider{
            padding-left: 100px;
            
            .movie_info{
                .movie_type{
                    display: flex;
                    align-items: center;
                    margin-bottom: 16px;
                    button{
                        padding: 4px 12px;
                        font-family: 'Proxima Nova';
                        font-style: normal;
                        font-weight: 600;
                        font-size: 12px;
                        line-height: 15px;
                        border-radius: 4px;
                        position: relative;
                        z-index: 2;
                        &:nth-child(1){
                            color: #fff;
                            background-color: #F4415F;
                            margin-right: 14px;
                        }
                        &:nth-child(2){
                            background-color: #fff;
                            color: #000;
                        }
                    }
                }
                .moive_name{
                    font-family: 'Proxima Nova';
                    font-style: normal;
                    font-weight: 700;
                    font-size: 48px;
                    line-height: 58px;
                    color: #fff;
                    margin-bottom: 16px;
                    position: relative;
                        z-index: 2;
                }
                .movie_rate{
                    margin-bottom: 24px;
                    display: flex;
                    align-items: center;
                    position: relative;
                        z-index: 2;
                    .rate{
                        display: flex;
                        align-items: center;
                        img{
                            padding: 0 6px 0 24px;
                        }
                        span{
                            color: #fff;
                            font-family: 'Proxima Nova';
                            font-style: normal;
                            font-weight: 600;
                            font-size: 18px;
                            line-height: 24px;
                        }
                        &:nth-child(1){
                            span{
                                font-family: 'Proxima Nova';
                                font-style: normal;
                                font-weight: 600;
                                font-size: 12px;
                                line-height: 15px;
                                &:nth-child(1){
                                    display: block;
                                    padding-right: 4px;
                                }
                            }
                        }
                    }
                }
                .movie_watch{
                    position: relative;
                        z-index: 2;
                    display: flex;
                    align-items: center;
                    button{
                        font-family: 'Proxima Nova';
                        font-style: normal;
                        font-weight: 600;
                        font-size: 14px;
                        line-height: 17px;
                        padding: 15px 24px 15px 60px;
                        color: #fff;
                        border-radius: 4px;
                        position: relative;
                        cursor: pointer;
                        &::before{
                            position: absolute;
                            content: '';
                            left: 20px;
                            top: 0;
                            bottom: 0;
                            margin: auto;
                            background-size: contain;
                            background-repeat: no-repeat;

                        }
                        &:nth-child(1){
                            background: #5931AC;
                            margin-right: 32px;
                            &::before{
                                background-image: url('../../assets/Icons/play.png');
                                width: 9px;
                                height: 12px;
                            }
                        }
                        &:nth-child(2){
                            background: rgba(60, 60, 67, 0.6);
                            &::before{
                                background-image: url('../../assets/Icons/plus.png');
                                width: 24px;
                                height: 24px;
                            }
                        }
                    }
                }
            }
        }
    }

    .new_movies{
        margin-top: -250px;
        background-color: #16151d;
        padding-bottom: 48px;
    }
}