.header_wrapper {
    padding: 22px 0 28px 0;
    background: linear-gradient(180deg, rgba(22, 21, 29, 0.6) 0%, rgba(22, 21, 29, 0) 100%);
    position: fixed;
    width: 100%;
    z-index: 999;
  .inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    .logo {
      a{
        font-family: 'Montserrat', sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 24px;
        line-height: 38px;
        color: #ffffff;
      }
    }
    .page_links{
        display: flex;
        align-items: center;
        li{
            display: block;
            padding: 0 20px;
            a{
                font-family: 'Montserrat', sans-serif;
                font-style: normal;
                font-weight: 600;
                font-size: 14px;
                line-height: 17px;
                display: flex;
                align-items: center;
                color: #FFFFFF;
            }
        }
    }
    .search_acc_terms{
        display: flex;
        align-items: center;
        button{
            background-color: transparent;
            border: none;
            &.search_field{
                margin-right: 28px;
            }
        }
    }
  }
}
